@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Open+Sans&display=swap');

:root {
	--big: 'Bevan', cursive;
	--normal: 'Open Sans', sans-serif;

	--orange: #CF6C58;
	--green: #A6BDAC;
	--grey: #E2C8CA;
	--white: #F5F8EE;
}

body {
	font-family: var(--normal);
    background-color: var(--orange); 
}